<ul class="statistics">
  <li class="statistics-item">
    <mat-icon>visibility</mat-icon>
    <span>{{statistics()?.viewCount || '0' | numberSuffix}}</span>
  </li>
  <li class="statistics-item">
    <mat-icon>thumb_up</mat-icon>
    <span>{{statistics()?.likeCount || '0' | numberSuffix}}</span>
  </li>
  <li class="statistics-item">
    <mat-icon>thumb_down</mat-icon>
    <span>{{statistics()?.dislikeCount || '0' | numberSuffix}}</span>
  </li>
  <li class="statistics-item">
    <mat-icon>comment</mat-icon>
    <span>{{statistics()?.commentCount || '0' | numberSuffix}}</span>
  </li>
</ul>
